body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  /* background-color: #d20118; */
  color: #0a5491;
}

.coinWrapper {
  height: 100vh;
}

.coin {
  width: 300px;
  height: 300px;
  perspective: 1000px;
  background-color: transparent;
  border-radius: 50%;
  overflow: visible;
}

.coin-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  overflow: visible;
}

.coin-front,
.coin-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.coin-front {
  background-image: url(./assets/eagle.png);
  background-size: cover;
  color: black;
}

.coin-back {
  background-image: url(./assets/tails.png);
  background-size: cover;
  color: black;
  transform: rotateX(180deg);
}

.coin-animation-eagle {
  -webkit-animation: flip-horizontal-top 0.4s linear 13;
  animation: flip-horizontal-top 0.4s linear 13;
  animation-fill-mode: forwards;
}

.coin-animation-tails {
  -webkit-animation: flip-horizontal-top 0.4s linear 12;
  animation: flip-horizontal-top 0.4s linear 12;
  animation-fill-mode: forwards;
}

@-webkit-keyframes flip-horizontal-top {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    box-shadow: transparent;
  }
  50% {
    box-shadow: 0px 0px 28px -4px rgba(181, 127, 18, 1);
  }
  100% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    box-shadow: transparent;
  }
}
@keyframes flip-horizontal-top {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}

@keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
